<% if(!err){ %>
    <h1> Tabular data for the provided query</h1>
    Total items on the list <%= queryData.response.length%>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Preety Formula </th>
                        <th scope="col">tags</th>
                        <th scope="col">density</th>
                        <th scope="col">sg.symprec</th>
                        <th scope="col">sg.source </th>
                        <th scope="col">sg.symbol</th>
                        <th scope="col"> sg.number</th>
                        <th scope="col">sg.point_group </th>
                        <th scope="col">sg.crystal_system</th>
                        <th scope="col"> sg.hall</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0;i<queryData.response.length; i++) {%>
                        <tr>
                            <th scope="row">
                                <%=i+1 %>
                            </th>
                            <th scope="row">
                                <a href=<%='/detail/' +i %> >
                                    <%=queryData.response[i].material_id %>
                                </a>
                            </th>
                            <td>
                                <%= queryData.response[i].pretty_formula%>
                            </td>
                            <td>
                                <%= queryData.response[i].tags%>
                            </td>
                            <td>
                                <%= queryData.response[i].density%>
                            </td>
                            <td>
                                <%= queryData.response[i].spacegroup.symprec%>
                            </td>
                            <td>
                                <%= queryData.response[i].spacegroup.source%>
                            </td>
                            <td>
                                <%= queryData.response[i].spacegroup.symbol%>
                            </td>
                            <td>
                                <%= queryData.response[i].spacegroup.number%>
                            </td>
                            <td>
                                <%= queryData.response[i].spacegroup.point_group%>
                            </td>
                            <td>
                                <%= queryData.response[i].spacegroup.crystal_system%>
                            </td>
                            <td>
                                <%= queryData.response[i].spacegroup.hall%>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>

            <% } else{ %>  
                <h1> Error of query data</h1>
                <p> <%=err.response.data.error %> </p>
                            <% } %>